# Dependencies
node_modules/
.pnpm-store/

# Production build
dist/
dist-ssr/
*.local

# Environment secrets
.env
.env.production
.env.local
*.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editor & System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
